<html>
<h3>Feedback Form</h3>
<body>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<div id="form-wrapper" style="max-width:500px;margin:auto;" class="container">
  <form action="/action_page.php">
    <label for="fname">First Name</label><br>
    <input type="text" id="fname" name="firstname" placeholder="Your Name..">
    <br>
    <label for="lname">Last Name</label> <br>
    <input type="text" id="lname" name="lastname" placeholder="Your Last Name..">
    <br>
    <label for="subject">Massage</label><br>
    <textarea id="subject" name="Subject" placeholder="Write Your feedback.." style="height:200px"></textarea>
    <br>
    <br>
    <input type="submit" value="Submit">
  </form>
</div>
</body>
</html>